{% extends 'home/base.html' %}

{% block title %}
    <title>关于</title>
{% endblock %}

{% block link %}

{% endblock %}

{% block content %}
    <h4>完结</h4>
    <p>从接触 flask，边学边做边玩，到写完这个项目，陆陆续续用了半个多月，基本功能也已实现，样式就不做多更改了。主要目的是重构之前 node + mongoose 写的项目</p>
    <p>已实现的功能：用户注册、登录，撰写文章，编辑文章，文章评论，分类管理，标签管理，用户管理，模糊查询，分类查询</p>
    <p>后端大概用了这几个第三方库</p>
    <ul>
        <li>flask</li>
        <li>flask-sqlalchemy</li>
        <li>flask-migrate</li>
        <li>pymysql</li>
    </ul>
    <p>前端大概用了这几个库</p>
    <ul>
        <li>bootstrap 4.6.1</li>
        <li>fontawesome 6.1.0</li>
        <li>wangEditor</li>
        <li>highlight.js</li>
    </ul>
    <p>数据库用的腾讯云的 MySQL，学生一年20很便宜，可续费两次。虽然用云服务器也行，不过我服务器大多是一年的，后续需要备份数据</p>
    <p>其中表结构</p>
    <img src="https://oyal.oss-cn-beijing.aliyuncs.com/img/202204041433903.png" alt="" class="w-100">
    <p>遇到的坑也基本排完，就不多做总结了</p>
    <h4>碎碎念</h4>
    <p>学得越多发现自己知道的越少，不知道什么时候才能赶上 GitHub 大佬的水平</p>
    <p>感觉22届不论是考研考公还是找工作都挺难的，我时常会感到焦虑</p>
    <h4>规划</h4>
    <p>在大四剩下的一两个月里，好好学习计算机基础，刷刷算法、面试题，把毕业证拿到手。希望毕业能找到一份合适自己的工作</p>
    <h4>与君共勉</h4>
    <p>学无止境。道阻且长，行则将至</p>
    <p class="text-right">2022-4-4 15:41</p>
{% endblock %}

{% block script %}

{% endblock %}