<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/image/icon.svg">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <style>
        body {
            padding-top: 3.5rem;
        }

        .search {
            cursor: pointer;
        }
    </style>
    {% block link %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">白茶与风</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == '/' %} active {% endif %}">
                    <a class="nav-link" href="/">首页</a>
                </li>
                <li class="nav-item {% if request.path == '/archives' %} active {% endif %}">
                    <a class="nav-link" href="/archives">归档</a>
                </li>
                <li class="nav-item {% if request.path == '/tags' %} active {% endif %}">
                    <a class="nav-link" href="/tags">标签</a>
                </li>
                <li class="nav-item {% if request.path == '/categories' %} active {% endif %}">
                    <a class="nav-link" href="/categories">分类</a>
                </li>
                <li class="nav-item {% if request.path == '/about' %} active {% endif %}">
                    <a class="nav-link" href="/about">关于</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="nav-link search" data-toggle="modal" data-target="#searchModal">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>搜索</span>
                    </a>
                </li>
                <li>
                    {% if g.user %}
                        <a class="nav-link"
                           href="{{ url_for('home.logout', next=request.full_path) }}">{{ g.user.username }}</a>
                    {% else %}
                        <a class="nav-link" href="{{ url_for('home.login', next=request.full_path) }}">登录</a>
                    {% endif %}
                </li>
                <li>
                    <a class="nav-link" href="/admin">控制台</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">搜索</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ url_for('home.index') }}">
                <div class="modal-body">
                    <input type="text" name="s" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">搜索</button>
                </div>
            </form>
        </div>
    </div>
</div>

<main>
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4 px-5">
                <section class="text-center">
                    <h4>白茶与风</h4>
                    <p class="text-secondary small">白茶清欢无别事,我在等风也等你</p>
                    <div class="d-flex justify-content-around">
                        <div class="">
                            <div>文章</div>
                            <div>{{ articles_count }}</div>
                        </div>
                        <div class="">
                            <div>分类</div>
                            <div>{{ categories | length }}</div>
                        </div>
                        <div class="">
                            <div>标签</div>
                            <div>{{ tags | length }}</div>
                        </div>
                    </div>
                    <div class="my-2" style="font-size: 20px;">
                        <a href="#" class="text-secondary mx-2">
                            <i class="fa-brands fa-qq"></i>
                        </a>
                        <a href="#" class="text-secondary mx-2">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <a href="#" class="text-secondary mx-2">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                </section>
                <section class="mt-3">
                    <h5><i class="fa-solid fa-timeline mr-3"></i>最新文章</h5>
                    {% for recent_article in recent_articles %}
                        <div class="ml-3 mb-2">
                            <a href="/posts/{{ recent_article.id }}">{{ recent_article.title }}</a>
                            <div>{{ recent_article.createdDate }}</div>
                        </div>
                    {% endfor %}

                </section>
                <section class="mt-3">
                    <h5><i class="fa-solid fa-folder-open mr-3"></i>分类</h5>
                    <ul>
                        {% for category in categories %}
                            <li>
                                <a href="/categories/{{ category.name }}" class="d-flex justify-content-between">
                                    <span>{{ category.name }}</span>
                                    <span>{{ category.articles | length }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
                <section class="mt-3">
                    <h5><i class="fa-solid fa-tags mr-3"></i>标签</h5>
                    <div class="ml-3">
                        {% for tag in tags %}
                            <a href="/tags/{{ tag.name }}" class="ml-2">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </section>
                <section class="mt-3">
                    <h5><i class="fa-solid fa-tags mr-3"></i>归档</h5>
                    <ul>
                        {% for archive in archives %}
                            <li>
                                <a href="/archives/{{ archive[0].split('-')[0] }}/{{ archive[0].split('-')[1] }}"
                                   class="d-flex justify-content-between">
                                    <span>{{ archive[0] }}</span>
                                    <span>{{ archive[1] }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <hr>
</main>

<footer class="container">
    <p>&copy;2022 By <a href="https://www.oyal.ml" target="_blank">Oyal</a> 版权所有</p>
</footer>

<script src="/static/js/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>