{% extends 'home/base.html' %}

{% block title %}
    <title>分类</title>
{% endblock %}

{% block link %}
    <style></style>
{% endblock %}

{% block content %}
    <ul>
        {% for category in categories %}
            <li>
                <a href="/categories/{{ category.name }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}
    <script></script>
{% endblock %}