{% extends 'home/base.html' %}

{% block title %}
    <title>归档</title>
{% endblock %}

{% block link %}
    <style></style>
{% endblock %}

{% block content %}
    {% for data in data %}
        {% for key, value in data.items() %}
            <h2>{{ key }}</h2>
            <ul>
                {% for article in value %}
                    <li>
                        <a href="/posts/{{ article.id }}">{{ article.title }}</a>
                        <span>{{ article.createdDate }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}

{% endblock %}

{% block script %}
    <script></script>
{% endblock %}