{% extends 'home/base.html' %}

{% block title %}
    <title>首页</title>
{% endblock %}

{% block link %}
    <style>
        .content {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }

        .social a {
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block content %}
    {% for article in articles %}
        <div>
            <a href="/posts/{{ article.id }}" class="h2 text-dark">{{ article.title }}</a>
            <div class="article-info text-secondary py-2" style="font-size: 14px;">
                <span class="article-date">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>发表于 {{ article.createdDate }}</span>
                </span>
                <span class="px-1">|</span>
                <span class="article-categories">
                        <i class="fa-solid fa-box-archive"></i>
                    {% for category in article.categories %}
                        <span>{{ category.name }}</span>
                    {% endfor %}

                    </span>
            </div>
            <p class="content">{{ article.content | remove_tag }}</p>
        </div>
    {% endfor %}

    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            {% for page in pager %}
                <li class="page-item {% if request.args.get('page') == page or (not request.args.get('page') and page == '1') %}active{% endif %}"
                    aria-current="page">
                    <a href="{{ url_for('home.index', page=page) }}" class="page-link">{{ page }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block script %}
    <script></script>
{% endblock %}