<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <style>
        html, body {
            height: 100%;
        }

        body {
            background-color: #f5f5f5;
        }

        .form-wrapper {
            width: 100%;
            max-width: 400px;
            background-color: #fff;
        }
    </style>
</head>
<body class="d-flex justify-content-center align-items-center p-3">
<div class="form-wrapper rounded-lg text-center p-4">
    <h1 class="h4 mb-3 font-weight-normal">登录</h1>
    <form action="{{ url_for('home.login', next=request.args.next) }}" method="post" class="was-validated">
        <div class="form-group">
            <label for="email" class="sr-only">邮箱</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                </div>
                <input type="email" id="email" name="email" class="form-control" placeholder="邮箱" required autofocus>
                {% if msg_email %}
                    <div class="invalid-feedback">{{ msg_email }}</div>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="sr-only">密码</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                </div>
                <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
                {% if msg_password %}
                    <div class="invalid-feedback">{{ msg_password }}</div>
                {% endif %}
            </div>
        </div>
        <div class="small text-right mb-1">还没账号？<a href="/register">注册</a></div>
        <button type="submit" class="btn btn-primary btn-block">登录</button>
        <div class="mt-2 small">
            <a href="/">返回首页</a>
        </div>
    </form>
</div>

<script>
</script>

</body>
</html>