{% extends 'home/base.html' %}

{% block title %}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/default.min.css">
    <title>{{ article.title }}</title>
{% endblock %}

{% block link %}
    <style></style>
{% endblock %}

{% block content %}
    <div class="title">
        <h1>{{ article.title }}</h1>
    </div>
    <hr>
    <div class="info text-secondary">
        <span class="article-createdDate">
            <i class="fa-solid fa-calendar-days"></i>
            <span>发表于 {{ article.createdDate }}</span>
        </span>
        <span class="px-1">|</span>
        <span class="article-updatedDate">
            <i class="fa-solid fa-calendar-days"></i>
            <span>更新于 {{ article.updatedDate }}</span>
        </span>
        <span class="px-1">|</span>
        <span class="article-categories">
            <i class="fa-solid fa-box-archive"></i>
            {% for category in article.categories %}
                <span>{{ category.name }}</span>
            {% endfor %}
        </span>
        <span class="px-1">|</span>
        <span class="article-tags">
            <i class="fa-solid fa-tags"></i>
            {% for tag in article.tags %}
                <span>{{ tag.name }}</span>
            {% endfor %}
        </span>
    </div>
    <div class="content my-5">
        {{ article.content }}
    </div>
    <hr>

    <div class="comment">
        <h2>评论</h2>
        <br>
        {% if g.user %}
            <form action="/admin/add-comment" method="post">
                <div class="mb-3 d-flex align-items-center">
                    <img src="{{ g.user.avatar }}"
                         alt="" width="50" style="border-radius: 50%;">
                    <div class="ml-3">{{ g.user.username }}</div>
                </div>
                <input type="hidden" name="aid" value="{{ article.id }}">
                <div class="form-group">
                    <label for="content" class="sr-only">content</label>
                    <textarea name="content" id="content" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group text-right">
                    <input type="submit" class="btn btn-primary">
                </div>
            </form>
        {% else %}
            <a href="{{ url_for('home.login', next=request.full_path) }}" class="btn btn-primary">点击登录</a>
        {% endif %}
        <hr>
        <div class="comments">
            {% if comments == [] %}
                <h3>暂无评论</h3>
            {% else %}
                {% for comment in comments %}
                    <div class="d-flex">
                        <div>
                            <img
                                    src="{{ comment.user.avatar }}"
                                    alt="" width="50"
                                    style="border-radius: 50%"
                            >
                        </div>
                        <div class="ml-3">
                            <div class="text-secondary">
                                <div>{{ comment.user.username }} {% if comment.user.role == 1 %}
                                    <span class="badge badge-success">博主</span>
                                {% endif %} </div>
                                <div>{{ comment.createdDate }}</div>
                            </div>
                            <p class="mt-3">{{ comment.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad()
        $('.content').html($('.content').text())
        $('table').attr('class', 'table')
    </script>
{% endblock %}
