<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <style>
        html, body {
            height: 100%;
        }

        body {
            background-color: #f5f5f5;
        }

        .form-wrapper {
            width: 100%;
            max-width: 400px;
            background-color: #fff;
        }

        .msg {
            position: absolute;
            height: 50px;
            line-height: 50px;
            left: 0;
            top: 0;
            right: 0;
        }
    </style>
</head>
<body class="d-flex justify-content-center align-items-center p-3">
{% if msg %}
    <div class="msg bg-success text-center text-white">{{ msg }}</div>
{% endif %}
<div class="form-wrapper rounded-lg text-center p-4">
    <h1 class="h4 mb-3 font-weight-normal">注册</h1>
    <form action="{{ url_for('home.register') }}" method="post" class="was-validated">
        <div class="form-group">
            <label for="username" class="sr-only">用户名</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa-solid fa-user"></i>
                    </div>
                </div>
                <input type="text" id="username" name="username" class="form-control" placeholder="用户名" required
                       autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="sr-only">邮箱</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                </div>
                <input type="email" id="email" name="email" class="form-control" placeholder="邮箱" required autofocus>
                {% if msg_email %}
                    <div class="invalid-feedback">{{ msg_email }}</div>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="sr-only">密码</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                </div>
                <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
            </div>
        </div>
        <div class="small text-right mb-1">已有账号？<a href="/login">登录</a></div>
        <button type="submit" class="btn btn-primary btn-block">注册</button>
        <div class="mt-2 small">
            <a href="/">返回首页</a>
        </div>
    </form>
</div>

<script>
</script>

</body>
</html>