{% extends 'home/base.html' %}

{% block title %}
    <title>标签</title>
{% endblock %}

{% block link %}
    <style></style>
{% endblock %}

{% block content %}
    <ul>
        {% for tag in tags %}
            <li>
                <a href="/tags/{{ tag.name }}">{{ tag.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}
    <script></script>
{% endblock %}