<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/image/icon.svg">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <style>
        body {
            padding-top: 3.5rem;
            background-color: #F6F6F3;
        }
    </style>
    {% block link %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/admin">控制台</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="write-dropdown" data-toggle="dropdown"
                       aria-expanded="false">撰写</a>
                    <div class="dropdown-menu" aria-labelledby="write-dropdown">
                        <a class="dropdown-item" href="/admin/write-post">撰写文章</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="manage-dropdown" data-toggle="dropdown"
                       aria-expanded="false">管理</a>
                    <div class="dropdown-menu" aria-labelledby="manage-dropdown">
                        <a class="dropdown-item" href="/admin/manage-posts">文章</a>
                        <a class="dropdown-item" href="/admin/manage-comments">评论</a>
                        <a class="dropdown-item" href="/admin/manage-categories">分类</a>
                        <a class="dropdown-item" href="/admin/manage-tags">标签</a>
                        <a class="dropdown-item" href="/admin/manage-users">用户</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="nav-link">{{ user.username }}</a>
                </li>
                <li>
                    <a class="nav-link" href="/logout">登出</a>
                </li>
                <li>
                    <a class="nav-link" href="/">网站</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <div class="container">
        {% block content %}{% endblock %}
        <hr>
    </div>
</main>

<footer class="container">
    <p>&copy;2022 By <a href="https://www.oyal.ml" target="_blank">Oyal</a> 版权所有</p>
</footer>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>