{% extends 'admin/base.html' %}

{% block title %}
    <title>控制台</title>
{% endblock %}

{% block link %}
    <style>
        .info span {
            font-size: 2rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="p-5">
        <h3>网站概要</h3>
        <p class="info my-3">
            目前有 <span>{{ articles_count }}</span> 篇文章，<span>{{ comments_count }}</span> 条评论.
            <br>
            点击下面的链接快速开始:
        </p>
        <div class="link">
            <a href="/admin/write-post" class="mr-3">撰写新文章</a>
            <a href="/admin/manage-posts">管理文章</a>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script></script>
{% endblock %}