{% extends 'admin/base.html' %}

{% block title %}
    <title>管理分类</title>
{% endblock %}

{% block link %}
    <style>
        .content-wrapper > li:hover {
            background-color: #E9E9E6;
            cursor: pointer;

        }

        .content-wrapper > li:hover .edit {
            visibility: visible !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="p-5">
        <h3>管理分类</h3>
        <div class="row">
            <div class="left col-md-8">
                <div class="d-flex align-items-center my-3">
                    <input type="checkbox" id="selectAll">
                    <div class="dropdown ml-3">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-expanded="false">
                            选中项
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" id="deleteSelected">删除</a>
                        </div>
                    </div>
                </div>
                <ul class="list-unstyled bg-white p-3 rounded-lg content-wrapper">
                    {% for category in categories %}
                        <li class="px-2 py-1 d-inline mr-1">
                            <input type="checkbox" id="{{ category.id }}" class="select-category"
                                   category-id="{{ category.id }}">
                            <label for="{{ category.id }}" class="mb-0">{{ category.name }}</label>
                            <a href="{{ url_for('admin.manage_categories', id=category.id) }}" class="hidden edit"
                               style="text-decoration: none; visibility: hidden">
                                <i class="fa fa-pen" style="font-size: 12px;"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <form action="{% if cur_category %}/admin/edit-category{% else %}/admin/add-category{% endif %} " method="post">
                    {% if cur_category %}
                        <input type="hidden" name="id" value="{{ cur_category.id }}">
                    {% endif %}
                    <div class="form-group">
                        <label for="#name">分类名称 *</label>
                        <input type="text" name="name" class="form-control" required {% if cur_category %}
                               value="{{ cur_category.name }}"
                        {% endif %} >
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary"
                               value="{% if cur_category %}编辑{% else %}新增{% endif %} ">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        // 选中所有
        const selectAll = $('#selectAll')
        const categoriesSelector = $('.select-category')
        selectAll.on('change', function () {
            const isSelectAll = $(this).prop('checked')
            categoriesSelector.prop('checked', isSelectAll)
        })
        // 非全选时取消全选框勾选
        $('.content-wrapper').on('change', '.select-category', function () {
            if (categoriesSelector.length === categoriesSelector.filter(':checked').length) {
                selectAll.prop('checked', true)
            } else {
                selectAll.prop('checked', false)
            }
        })

        $('#deleteSelected').on('click', function (e) {
            let selectedIds = []
            let selectedCategories = categoriesSelector.filter(':checked')
            selectedCategories.each(function (index, element) {
                selectedIds.push($(element).attr('category-id'))
            })
            if (selectedIds.length === 0) {
                alert('您还没有选中任何选项呢')
                return
            }
            if (confirm('你小子飘了是吧，确定要删除这些？')) {
                console.log(selectedIds);
                $.ajax({
                    url: '/admin/delete-category',
                    type: 'post',
                    data: {ids: selectedIds},
                    success: function (data){
                        if(data === 'success') {
                           window.location.href = '/admin/manage-categories'
                        } else {
                            e.preventDefault()
                        }
                    }
                })
            } else {
                e.preventDefault()
            }
        })
    </script>
{% endblock %}