{% extends 'admin/base.html' %}

{% block title %}
    <title>管理评论</title>
{% endblock %}

{% block link %}
    <style></style>
{% endblock %}

{% block content %}
    <div class="p-5">
        <h3>管理评论</h3>
        <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-expanded="false">
                选中项
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" id="deleteSelected">删除</a>
            </div>
        </div>
        <div class="p-2 p-md-5 bg-white rounded-lg mt-3 table-responsive">
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th scope="col">
                        <input type="checkbox" id="selectAll">
                    </th>
                    <th scope="col">内容</th>
                    <th scope="col">文章ID</th>
                    <th scope="col">用户</th>
                    <th scope="col">发布日期</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in comments %}
                    <tr>
                        <th scope="row" scope="row">
                            <input type="checkbox" class="select-comment" comment-id="{{ comment.id }}">
                        </th>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.article.id }}</td>
                        <td>{{ comment.user.username }}</td>
                        <td>{{ comment.createdDate }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        // 选中所有
        const selectAll = $('#selectAll')
        const commentsSelector = $('.select-comment')
        selectAll.on('change', function () {
            const isSelectAll = $(this).prop('checked')
            commentsSelector.prop('checked', isSelectAll)
        })
        // 非全选时取消全选框勾选
        $('table').on('change', '.select-comment', function () {
            if (commentsSelector.length === commentsSelector.filter(':checked').length) {
                selectAll.prop('checked', true)
            } else {
                selectAll.prop('checked', false)
            }
        })

        $('#deleteSelected').on('click', function (e) {
            let selectedIds = []
            let selectedComments = commentsSelector.filter(':checked')
            selectedComments.each(function (index, element) {
                selectedIds.push($(element).attr('comment-id'))
            })
            if(selectedIds.length === 0) {
                alert('您还没有选中任何选项呢')
                return
            }
            if (confirm('你小子飘了是吧，确定要删除这些？')) {
                $.ajax({
                    url: '/admin/delete-comment',
                    type: 'post',
                    data: {ids: selectedIds},
                    success: function (data){
                        if(data === 'success') {
                           window.location.href = '/admin/manage-comments'
                        } else {
                            e.preventDefault()
                        }
                    }
                })
            } else {
                e.preventDefault()
            }
        })
    </script>
{% endblock %}