{% extends 'admin/base.html' %}

{% block title %}
    <title>管理用户</title>
{% endblock %}

{% block link %}
    <style>
    </style>
{% endblock %}

{% block content %}
    <div class="p-3 p-md-5">
        <h3>管理用户</h3>
        <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-expanded="false">
                选中项
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" id="deleteSelected">删除</a>
            </div>
        </div>
        <div class="p-2 p-md-5 bg-white rounded-lg mt-3 table-responsive">
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th scope="col">
                        <input type="checkbox" id="selectAll">
                    </th>
                    <th scope="col">用户名</th>
                    <th scope="col">邮箱</th>
                    <th scope="col">创建日期</th>
                    <th scope="col">上次登录</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row" scope="row">
                            <input type="checkbox" class="select-user" user-id="{{ user.id }}">
                        </th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.createdDate }}</td>
                        <td>{{ user.lastLogin }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    你小子飘了是吧，确定要删除？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">删除</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        // 选中所有
        const selectAll = $('#selectAll')
        const usersSelector = $('.select-user')
        selectAll.on('change', function () {
            const isSelectAll = $(this).prop('checked')
            usersSelector.prop('checked', isSelectAll)
        })
        // 非全选时取消全选框勾选
        $('table').on('change', '.select-user', function () {
            if (usersSelector.length === usersSelector.filter(':checked').length) {
                selectAll.prop('checked', true)
            } else {
                selectAll.prop('checked', false)
            }
        })

        $('#deleteSelected').on('click', function (e) {
            let selectedIds = []
            let selectedUsers = usersSelector.filter(':checked')
            selectedUsers.each(function (index, element) {
                selectedIds.push($(element).attr('user-id'))
            })
            if(selectedIds.length === 0) {
                alert('您还没有选中任何选项呢')
                return
            }
            if (confirm('你小子飘了是吧，确定要删除这些？')) {
                $.ajax({
                    url: '/admin/delete-user',
                    type: 'post',
                    data: {ids: selectedIds},
                    success: function (data){
                        if(data === 'success') {
                           window.location.href = '/admin/manage-users'
                        } else {
                            e.preventDefault()
                        }
                    }
                })
            } else {
                e.preventDefault()
            }
        })
    </script>
{% endblock %}