{% extends 'admin/base.html' %}

{% block title %}
    <title>撰写新文章</title>
{% endblock %}

{% block link %}
    <style>
        .info span {
            font-size: 2rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="p-3 p-md-5">
        <h3>撰写新文章</h3>
        <form action="/admin/write-post" method="post" class="mt-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="title" class="sr-only">标题</label>
                        <input type="text" name="title" id="title" class="form-control" placeholder="标题" required>
                    </div>
                    <p class="text-secondary">{{ request.root_url + 'posts/{id}' }}</p>
                    <div class="form-group">
                        <input type="hidden" name="content">
                        <div id="editor"></div>
                    </div>
                    <div class="form-group text-right">
                        <input type="submit" value="发布" class="btn btn-primary" id="#submit">
                    </div>
                </div>
                <div class="col-md-3">
                    <section>
                        <p class="font-weight-bold">分类</p>
                        <ul class="list-unstyled">
                            {% for category in categories %}
                                <li class="form-check form-check-inline px-3 py-2 bg-white w-100 rounded-lg">
                                    <input type="checkbox" name="category" id="category-{{ category.id }}"
                                           class="form-check-input"
                                           value="{{ category.id }}"
                                    >
                                    <label for="category-{{ category.id }}"
                                           class="form-check-label">{{ category.name }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                    <section class="my-3">
                        <p class="font-weight-bold">标签</p>
                        <div class="form-group p-1 bg-white w-100 rounded-lg">
                            <label for="tags" class="sr-only">标签</label>
                            <input type="hidden" name="tags">
                            <ul class="tags list-unstyled mb-0">
                                <li>
                                    <input type="text" autocomplete="off" id="tab-input"
                                           style="outline: none; border: none;">
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/wangEditor.js"></script>
    <script>
        let tags = []
        const E = window.wangEditor
        const editor = new E('#editor')
        editor.config.zIndex = 0
        editor.config.uploadImgServer = '/admin/upload'
        editor.config.uploadFileName = 'file'
        editor.create()
        $('#tab-input').bind('keypress', function (e) {
            if (e.keyCode === 13) {
                if ($(this).val().trim() === '') {
                    return false
                }
                $('.tags li:last').before(`<li class="mark mb-1">
                                    <span>${$(this).val()}</span>
                                    <span class="remove float-right" style="cursor: pointer;">×</span>
                                </li>`)
                tags.push($(this).val())
                $(this).val('')
                return false
            }
        })
        $('.tags').on('click', '.remove', function () {
            tags.splice(tags.indexOf($(this).prev().html()), 1) // 删除标签数组
            $(this).parent().remove()
        })
        $('form').submit(function (e) {
            $('[name=content]').val(editor.txt.html())
            {#console.log(tags.join(','));#}
            $('[name=tags]').val(tags.join(','))
            {#e.preventDefault()#}
        })
    </script>
{% endblock %}